<section class="user-info">
<div class="image-info">
<img class="user-image" src="<%= @user.photo %>" alt="user photo">
</div>
<div class="user">
 <h2><%= @user.name %></h1>
 <h3>Number of posts: <%= @user.posts_counter %></h3>
 </div>
</section>

<section class="bio-info">
<div class="bio">
 Bio: <%= @user.bio %>
</div>
</section>

<section class="post-info">
<% @user.recent_three_posts.each do |post|%>
    <%= link_to user_post_path(@user.id, post.id) do %>
    <div class="post">
   <h2>Post: <%= '#' %> <%= post.id %></h2>
    <h3><%= post.title%></h3>
    <p> <%= post.text%> </p>
    <div>
    <p>Comments: <%= post.comments_counter  || 2 %> <%= '  ' %>
    <span class="like-info">Likes: <%= post.likes_counter %></span></p>
    </div>
    </section>
<% end %>
<% end %>
<%= link_to user_posts_path(@user) do %>
    <div class="all_post">
        <button>See all Post</button>
    </div>
<%end%>