<h1> Posts</h1>
<%= link_to  new_user_post_path(@user.id) do %>
  <div class="i-post">
      <button>create Post</button>
  </div>
<%end%>

<section class="user-info">

<div class="image-info">

</div>
<div class="info">
 <h2> <%= @user.name %> </h2>
 <h3>Number of posts: <%= @user.posts_counter %></h3>
 </div>
 </section>

<section  class="post-info">
<% @posts.each do |post| %>
  <%= link_to user_post_path(@user, post) do %>
    <div class="post">
    <h2>Post: <%= '#' %> <%= post.id %></h2>
    <h3><%= post.title%></h3>
    <p>Comments: <%= post.comments_counter || 1 %>
    <span class="span-like">Likes: <%= post.likes_counter  || 0 %></span></p>
    </div>
    <div class="post-text">
    <p><%= post.text%> </p>
    </div>
    <% end %>
    

    <section class="comment-info">
          <div  class="comment">
          <% post.recent_comments.each do |comment| %>
        <p><%= comment.author.name %><%= ':' %><span>
         <%= comment.text %><span></p> 
        </div>
        <% end %>
        </section>
        <% end %>
</section>


<button type="submit"> Pagination </button>

