<section class="post-info">
    <div class="post-user-info">
      <p>Post <%= '#' %><%= @post.id %><%= ' ' %><%= @post.title %> by <%= @post.author.name %></p>
      <p>Comments: <%= @post.comments_counter || 0 %> 
      <span> Likes: <%= @post.likes_counter || 0 %></span></p>
    </div>
    <p><%= @post.text %></p>

    <%= render 'comments/comment' %>

    <%= render 'likes/likes' %>
    
    <section class="comment-info">
    <% @post.comments.each do |comment|%>
       <div  class="comment">
        <p><%= comment.author.name %><%= ':' %><span>
         <%= comment.text %><span></p> 
        </div>
      <% end %>
    </section>
</section>
