<section class="post-info">
    <div class="post-user-info">
      <p>Post <%= '#' %><%= @post.id %><%= ' ' %><%= @post.title %> by <%= @post.author.name %></p>
      <p>Comments: <%= @post.comments_counter || 0 %> 
      <span> Likes: <%= @post.likes_counter || 0 %></span></p>
    </div>
    <p><%= @post.text %></p>
    
    
    <%= render 'likes/likes' %>
    
    <% if can? :destroy, @post %>
    <%= form_with model: @post, url: user_post_path(@user, @post), method: :delete do |form| %>
      <%= form.submit "Delete Post", class: "delete-button" %>
      <% end %>
      <% end %>
      
      <section class="comment-info">
      <% @post.comments.each do |comment|%>
       <div  class="comment">
        <p><%= comment.author.name %><%= ':' %><span>
         <%= comment.text %><span></p> 
         </div>
         <% end %>
         </section>

         <%= render 'comments/comment' %>
         
</section>
